#headerRow, #formRow {
	margin-bottom: 1.25rem;
}

#headerRow .header-title {
	border-bottom: 1px solid whitesmoke;
}

#resultRow {
	margin-bottom: 1rem;
}

.alert {
	width: 82.5%;
	height: 75%;
	padding: 0.85rem;
	margin: 0;
}

.btn-link {
	text-decoration: underline;
	padding: 0;
	font-size: 90%;
	color: gray;
}

#loadCodesFullListSubmit.btn-link{
	margin-top: 0.75rem;
}

#fullList{
	margin-top: 3.5rem;
}

#fullList.fullListRow {
	border-top: 1px solid whitesmoke;
}

@media (max-width: 767px) {
	#phoneInput {
		margin-bottom: 0.75rem;
	}
}

@media (max-width: 992px) {
	.alert {
		width: 100%;
	}
}