<!--suppress HtmlUnknownTarget -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="UTF-8"/>
	<title>Country lookup by phone number</title>

	<script src="js/jquery-3.2.1/jquery.min.js" type="text/javascript"></script>
	<script src="js/jsrender-0.9.85/jsrender.min.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>

	<link rel='shortcut icon' type='image/x-icon' href='img/favicon.png'/>

	<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/flags/flags.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/app.css"/>

	<!--jsrender templates-->
	<script id="countryInfoRow-tmpl" type="text/html">
		<div>
			<img src="css/flags/blank.png" class="flag flag-{{:~lowerCase(code)}}" alt="{{:~lowerCase(code)}}"/>
			<span>{{>name}}</span>
		</div>
	</script>

	<script id="errorInfoRow-tmpl" type="text/html">
		<div class="alert alert-danger">{{:~getResultMessageText(#data)}}</div>
	</script>

	<script id="countriesFullListRow-tmpl" type="text/html">
		<div class="row fullListRow">
			<div class="col-xs-2">
				<img src="css/flags/blank.png" class="flag flag-{{:~lowerCase(countryCode)}}" alt="{{:~lowerCase(countryCode)}}"/>
			</div>
			<div class="col-xs-6"><strong>{{>countryCode}}</strong></div>
			<div class="col-xs-4">{{:~formatCallCodesList(callCodes)}}</div>
		</div>
	</script>

	<script id="loadingBar-tmpl" type="text/html">
		<img src="img/loading.gif"/>
	</script>
</head>
<body>
<div class="container-fluid">
	<div class="row" id="headerRow">
		<div class="col-xs-12 header-title">
			<h3>Country lookup by phone number</h3>
		</div>
	</div>
	<div class="row" id="resultRow">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4" id="lookupResult"></div>
	</div>
	<div class="row" id="formRow">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
			<form class="form-inline">
				<input class="form-control" value="+371 29323421" id="phoneInput" type="tel" maxlength="21"/>
				<button type="button" id="phoneSubmit" class="btn btn-default">&#9990; Check country</button>
				<button type="button" id="loadCodesFullListSubmit" class="btn btn-link">
					&#10068;show full list of call codes
				</button>
			</form>
		</div>
	</div>

	<div class="row" id="fullList">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4" id="fullListItemsWrapRow"></div>
	</div>
</div>
</body>
</html>